body {
    margin: 0;
    height: 100vh;
    background: #F2F2F2;
}
main {
    max-width: 1360px;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    max-width: 1109px
}
.brand {
    max-width: 90.13px;
    width: 100%;
    min-height: 19.34px;
}
ul {
    display: flex;
    font-family: 'Mulish', sans-serif;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    color: #111111;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    margin-left: 1em;
}
.mainintro {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5%;
    max-width: 1037px;
    width: 100%;
    min-height: 251px;
    font-family: 'Mulish', sans-serif;
}
.h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.423077px;
    color: #4A4FF2;
}
.intro {
    max-width: 635px;
    width: 100%;
    min-height: 191px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #111111;
}
.line {
    margin-bottom: -13%;
}
.rightintro {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.gallery {  
    display: grid;
    grid-template-rows: repeat(32, 1f);
    grid-template-columns: repeat(9, 1fr);
    gap: 20px 20px;
    max-width: 1110px; 
    grid-auto-flow: row;
    width: 100%;
    margin: 3em;
    grid-template-areas:
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle6 rectangle6 rectangle6 rectangle3 rectangle3"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle3 rectangle3"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle3 rectangle3"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle3 rectangle3"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle7 rectangle7"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle7 rectangle7"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle7 rectangle7"
      "rectangle5 rectangle5 rectangle5 rectangle9 rectangle9 rectangle9 rectangle7 rectangle7"
      "rectangle5 rectangle5 rectangle5 rectangle9 rectangle9 rectangle9 rectangle7 rectangle7"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle7 rectangle7"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle7 rectangle7"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle12 rectangle12 rectangle12 rectangle10 rectangle10"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle10 rectangle10"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle10 rectangle10"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle10 rectangle10"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13";
  }
  
  .rectangle1 { grid-area: rectangle1; }
  
  .rectangle2 { grid-area: rectangle2; }
  
  .rectangle3 { grid-area: rectangle3; }
  
  .rectangle5 { grid-area: rectangle5; }
  
  .rectangle6 { grid-area: rectangle6; }
  
  .rectangle7 { grid-area: rectangle7; }
  
  .rectangle8 { grid-area: rectangle8; }
  
  .rectangle9 { grid-area: rectangle9; }
  
  .rectangle10 { grid-area: rectangle10; }
  
  .rectangle11 { grid-area: rectangle11; }
  
  .rectangle12 { grid-area: rectangle12; }
  
  .rectangle13 { grid-area: rectangle13; }
  