body {
    margin: 0;
    max-width: 1350px;
    width: 100%;
    min-height: 100vh;
    background: #F2F2F2;
    margin: auto
}
main {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    max-width: 1109px
}
.brand {
    max-width: 90.13px;
    width: 100%;
    min-height: 19.34px;
}
ul {
    display: flex;
    font-family: 'Mulish', sans-serif;
    list-style: none;
}
.nav__link {
    text-decoration: none;
    color: #111111;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    margin-left: 1em;
}
.nav__link:hover {
    color:dimgray 
}
.mainintro {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 5%;
    max-width: 1037px;
    width: 100%;
    min-height: 251px;
    font-family: 'Mulish', sans-serif;
}
.h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: -0.423077px;
    color: #4A4FF2;
}
.intro {
    max-width: 635px;
    width: 100%;
    min-height: 191px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: #111111;
}
.line {
    margin-bottom: -13%;
}
.rightintro {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.gallery {  
    display: grid;
    grid-template-rows: repeat(32, 1f);
    grid-template-columns: repeat(9, 1fr);
    gap: 20px 20px;
    max-width: 1110px; 
    grid-auto-flow: row;
    width: 100%;
    margin: 3em;
    grid-template-areas:
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle2 rectangle2 rectangle2 rectangle3 rectangle3"
      "rectangle1 rectangle1 rectangle1 rectangle6 rectangle6 rectangle6 rectangle3 rectangle3"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle3 rectangle3"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle3 rectangle3"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle3 rectangle3"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle7 rectangle7"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle7 rectangle7"
      "rectangle5 rectangle5 rectangle5 rectangle6 rectangle6 rectangle6 rectangle7 rectangle7"
      "rectangle5 rectangle5 rectangle5 rectangle9 rectangle9 rectangle9 rectangle7 rectangle7"
      "rectangle5 rectangle5 rectangle5 rectangle9 rectangle9 rectangle9 rectangle7 rectangle7"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle7 rectangle7"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle7 rectangle7"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle9 rectangle9 rectangle9 rectangle10 rectangle10"
      "rectangle8 rectangle8 rectangle8 rectangle12 rectangle12 rectangle12 rectangle10 rectangle10"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle10 rectangle10"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle10 rectangle10"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle10 rectangle10"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13"
      "rectangle11 rectangle11 rectangle11 rectangle12 rectangle12 rectangle12 rectangle13 rectangle13";
  }
  
  .rectangle1 { grid-area: rectangle1; }
  
  .rectangle2 { grid-area: rectangle2; }
  
  .rectangle3 { grid-area: rectangle3; }
  
  .rectangle5 { grid-area: rectangle5; }
  
  .rectangle6 { grid-area: rectangle6; }
  
  .rectangle7 { grid-area: rectangle7; }
  
  .rectangle8 { grid-area: rectangle8; }
  
  .rectangle9 { grid-area: rectangle9; }
  
  .rectangle10 { grid-area: rectangle10; }
  
  .rectangle11 { grid-area: rectangle11; }
  
  .rectangle12 { grid-area: rectangle12; }
  
  .rectangle13 { grid-area: rectangle13; }
  
.workhard-container {
    display: flex;
    justify-content: space-between;
    max-width: 1079px;
    width: 100%;
    min-height: 106px;
    margin-left: 42px;
}
.workhard-txt {
    display: flex;
    max-width: 635px;
    width: 100%;
    min-height: 106px;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    color: #111111;
}
.parent {
    display: flex;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    margin-right: -25px;
}
.child1 {
    display: flex;
    flex-direction: column;
}
.child2 {
    display: flex;
    flex-direction: column;
}
.link-style:hover {
    color: black;
}
.link-style {
    color: gray;
    text-decoration: none;
}
.link-space {
    margin: 3px;
}
.divider {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 2px;
    margin-bottom: 2em;
    width: 90%;
}
.container {  
    max-width: 1110px;
    width: 100%;
    min-height: 411px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "maintitle1 secondtitle1 thirdtitle1 fourthtitle1"
    ". secondtitle2 secondtitle3 secondtitle4";
  }
.maintitle1 { 
    grid-area: maintitle1; 
    margin-left: 2em;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #111111;
}
.secondtitle1 { grid-area: secondtitle1; }
.thirdtitle1 { grid-area: thirdtitle1; }
.fourthtitle1 { grid-area: fourthtitle1; }
.secondtitle2 { grid-area: secondtitle2; }
.secondtitle3 { grid-area: secondtitle3; }
.secondtitle4 { grid-area: secondtitle4; }

.secondtitle1, .secondtitle2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #111111;
}
.thirdtitle1, .secondtitle3 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #111111;
} 
.desc1, .desc2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #111111;
    mix-blend-mode: normal;
    opacity: 0.6;
}
.fourthtitle1, .secondtitle4 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: right;
    color: #111111;
    margin-left: 5em;
}
.footercontainer {  
    align-items: baseline;
    max-width: 1110px;
    width: 100%;
    min-height: 23px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "genesis-footer . links-footer socials-footer"
      ". . . .";
  }
  .genesis-footer { 
    grid-area: genesis-footer;
    margin-left: 2em;
}
  .links-footer { grid-area: links-footer; }
  .socials-footer { grid-area: socials-footer; }
  .footer-link {
    text-decoration: none;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: -0.346154px;
    color: #111111;
  }
  .footer-link:hover { color:dimgray; }
  .socials-footer { 
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    margin-left: 1em;
  }